.mySwiper {
  width: 100%;
  @media only screen and (min-width: 740px) and (max-width: 1024px) {
    width: 50rem;
  }
  @media only screen and (max-width: 740px) {
    width: 30rem;
    margin: 0 0 0 4px;
  }
}

.swiper-button-prev,
.swiper-button-next {
  top: 52%;
  width: 35px;
  height: 35px;
  background: #3e4042;
  border: 1px solid gray;
  border-radius: 50%;
  color: #b0b3b8;
  font-weight: 700;
  outline: 0;
  transition: background-color 0.2s ease, color 0.2s ease;

  &::after {
    font-size: 16px;
  }
  &:hover {
    background: gray;
  }
}

.imageList {
  width: 39%;
  margin: 0 auto;
  height: 250px;
  overflow: hidden !important;
}

.SubStory {
  width: 100%;
  height: 50px;
  font-weight: bold !important;
  font-size: 15px !important;
  color: #000 !important;
}

.StoryTitle {
  font-size: 4px !important;
  height: 30px;
}

.avatarStory {
  position: absolute;
  padding: 4px !important;
  background-color: #2b79e1;
  top: 4px;
  left: 4px;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  z-index: 1;
  @media only screen and (min-width: 740px) and (max-width: 1024px) {
  }
  @media only screen and (max-width: 740px) {
    width: 30px !important;
    height: 30px !important;
  }
}

.StoryItem {
  width: 95%;
  height: 180px !important;
  margin: 0 6px 0 0;
  font-weight: bold !important;
  text-align: center !important;
  cursor: pointer;
  overflow: hidden !important;
  transition: transform 0.5s, filter 1.5s ease-in-out;
  border-radius: 9%;
  @media only screen and (min-width: 740px) and (max-width: 1024px) {
  }
  @media only screen and (max-width: 740px) {
    height: 140px !important;
  }
}

.imageStory {
  overflow: hidden !important;
  transition: transform 0.5s, filter 1.5s ease-in-out;
}

.StoryItem:hover .imageStory {
  transform: scale(1.1);
}

.AddIcon {
  position: absolute;
  top: -65%;
  left: 40%;
  background: #088dcd none repeat scroll 0 0;
  border-radius: 50%;
}

.modalStoryZoom {
  .boxStoryZoom{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none !important;
    outline: none !important;
    box-shadow: 24;
    &:focus {
      border:none !important;
    }
    .imageZoom {
      vertical-align: center;
      image-rendering: pixelated;
      width: 100% !important;
      height: 100% !important;
    }
  }
}