$primary-color: #088dcd;

.personal {
  position: relative;
  &__title {
    padding: 5px 10px;
    font-size: 18px !important;
    font-weight: 900 !important;
    border-bottom: 1px solid #eaeaea;
    border-left: 3px solid $primary-color;
  }
  &__content {
    margin-top: 20px;
    display: inline-block;
    width: 100%;
    & > ul {
      display: inline-block;
      list-style: outside none none;
      margin: 0;
      padding: 0;
      width: 100%;
      & > li {
        display: inline-block;
        font-weight: 600 !important;
        margin-bottom: 12px;
        width: 49%;
        font-size: 13px !important;
        & > span {
          font-weight: 400 !important;
          color: $primary-color;
        }
      }
    }
  }
}

.completeprofile {
  padding: 7px 12px 12px;
  &__title {
    text-align: center;
    font-size: 18px !important;
    font-weight: 600 !important;
    margin-bottom: 20px !important;
  }
  & > span {
    display: inline-block;
    font-size: 13px;
    line-height: 17px;
    margin-bottom: 6px;
    width: 100%;
    color: #5a6381;
  }
  &__progress {
    width: 100px !important;
    height: 100px !important;
  }
  &__progressCenter {
    margin-top: 5px;
    text-align: center;
  }
  &__profCompleted {
    margin-top: 20px;
    &__item {
      display: flex;
      margin-bottom: 10px;
      justify-content: space-between;
      &--left {
        display: flex;

        & > a {
          margin-left: 5px;
        }
      }
      &--icon {
        color: $primary-color !important;
        font-size: 16px !important;
        margin: auto;
      }
    }
  }
}
.interests {
  position: relative;
  &__title {
    padding: 5px 10px;
    font-size: 18px !important;
    font-weight: 900 !important;
    border-bottom: 1px solid #eaeaea;
    border-left: 3px solid $primary-color;
  }
  &__content {
    margin-top: 25px;
    &__list {
      margin-bottom: 15px;
      & > h6 {
        display: inline-block;
        font-size: 14px;
        margin-bottom: 8px;
        font-weight: 600 !important;
        width: 100%;
      }
      & > p {
        width: 100%;
        font-size: 13.4px;
      }
    }
  }
}
.userstats__item--left {
  display: flex;
  & > a {
    margin: auto;
    font-weight: 600;
    margin-left: 5px;
  }
}
.userstats__item--icon {
  color: $primary-color !important;
  font-size: 30px !important;
  margin: auto;
  border: 1px solid $primary-color;
  border-radius: 50%;
  padding: 4px;
}
.completeprofile__profCompleted__item {
  & > span {
    color: #7d7e9e;
    line-height: 16px;
    margin: auto;
    font-style: italic !important;
    font-weight: 600 !important;
  }
}
