.login {
  position: relative;
  width: 100%;
  display: block;
  float: left;
  color: #3e3f5e;
  font-size: 14px;
  letter-spacing: 0.1px;
  font-family: "Roboto", sans-serif;
}
.img_swiper {
  width: 74% !important;
  height: 41% !important;
}
.img_image {
  // background-position: center center;
  // background-repeat: no-repeat;
  // background-size: cover;
  height: 100%;
  left: 0;
  margin: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
.img_image:before {
  content: "";
  background: #3ca9fc;
  opacity: 0.95;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.login_left {
  float: left;
  height: 100vh;
  // padding: 50px;
  position: relative;
  width: 45%;
  z-index: 2;
  background: url("http://wpkixx.com/html/socimo/images/resources/login-bg3.jpg");
}
.swiper-slide {
  background: transparent !important;
}
.swiperLoad {
  margin-top: 60px;
  padding-left: 0;
  list-style: none;
  float: left;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  // z-index: 1;
  margin-bottom: 1rem;
}
.login_right {
  background: #fff none repeat scroll 0 0;
  float: left;
  height: 100vh;
  padding: 50px;
  width: 55%;
  position: relative;
  overflow: hidden;
}
.login_right .logo_social {
  left: 50px;
  position: absolute;
  top: 50px;
}
.logo_social {
  display: inline-block;
  vertical-align: middle;
}
.logo_social > img {
  max-width: 40px;
  vertical-align: middle;
  display: inline-block;
}
img {
  height: auto;
  border: none;
  max-width: 100%;
  vertical-align: middle;
}
.logo_social > span {
  color: #ed9854;
  font-family: Rajdhani;
  font-size: 25px;
  font-weight: 900;
  padding-left: 5px;
  vertical-align: middle;
}
.logo_bottom {
  bottom: 0;
  top: auto;
  display: inline-block;
  left: 0;
  position: absolute;
}
.login_center {
  display: table;
  height: 100%;
  width: 100%;
}
.login_form {
  display: table-cell;
  padding: 0 100px;
  vertical-align: middle;
}
.login_title {
  display: flex;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 30px;
  width: 100%;
  line-height: 1.2;
}
.icon_login {
  color: #3ca9fc;
  font-size: 25px;
}
.title_bold {
  font-size: 22px;
  font-weight: 600;
  margin-left: 5px;
}
.form_login {
  display: inline-block;
  position: relative;
  width: 100%;
}
form {
  margin-top: 0em;
}
input:focus {
  outline: 0;
}
.form_login > input {
  background: #f8fafa none repeat scroll 0 0;
  border: 1px solid #eaeaea;
  border-radius: 7px;
  color: #535165;
  font-size: 13px;
  margin-bottom: 20px;
  padding: 12px 20px;
  width: 100%;
}
.checkbox {
  width: 100%;
  margin: 8px auto;
  position: relative;
  display: block;
}
.icon_check {
  position: absolute;
  margin-left: -10px;
  border-radius: 100%;
}
.checkbox label {
  cursor: pointer;
  display: block;
  font-size: 13px;
  font-weight: normal;
  margin-bottom: 0;
  min-height: 38px;
  padding-left: 24px;
  position: relative;
}
.checkbox label span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.btn_login {
  float: right;
  cursor: pointer;

  font-size: 13px;
  font-weight: 500;
  transition: all 0.2s linear 0s;
  background: rgba(8, 141, 205, 0.6);
  border: 2px solid transparent;
  border-radius: 30px;
  color: #fff;
  display: flex;
  padding: 10px 26px;
  text-transform: none;
  overflow: visible;
  font-family: inherit;
}
.icon_btn {
  margin-right: 5px;
  font-size: 15px;
}
.btn_text {
  font-size: 15px;
  font-weight: 600;
}
button {
  border-color: #088dcd !important;
}
.button:hover {
  background-color: #3e3f5e;
}
.button {
  transition-duration: 0.4s;
}
.logo_right {
  left: auto;
  right: -10px;
  position: absolute;
  top: 0;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 992px) {
  .login_left {
    width: 100%;
    display: none;
  }
  .login_form {
    padding: 0;
  }
  .login_right {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .login_left {
    display: none;
  }
  .login_right {
    width: 100%;
  }
  .login_form {
    padding: 0;
  }
}
