.main_createpost {
  background: #fafafa none repeat scroll 0 0;
  border: 1px solid #e1e8ed;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 30px;
  padding: 15px 20px 20px;
  position: relative;
  width: 100%;
  z-index: 9;
  color: #3e3f5e;
  font-size: 14px;
  letter-spacing: 0.1px;
  text-align: left;
  font-family: "Roboto", sans-serif;
  img {
    border: 0;
    width: 50px;
    height: 50px;
  }
  .title_post {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 20px;
    width: 100%;
    font-size: 14px;
  }
  .newpost {
    display: inline-block;
    position: relative;
    width: 100%;
  }
  form {
    margin-top: 0em;
  }
}

.newpost > form input {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  padding: 10px 20px 10px 50px;
  width: 100%;
}
.newpost > form {
  display: inline-block;
  width: 100%;
  position: relative;
}
.icon_Post {
  position: absolute;
  font-size: 16px;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.upload_post {
  display: inline-block;
  list-style: outside none none;
  margin: 20px 0 0;
  padding-left: 0;
  width: 100%;
}

.img__post {
  width: 100%!important;
  height: 100%!important;
  max-width: 200px!important;
}

.video__post {
  width: 100%!important;
  height: 100%!important;
  max-width: 320px!important;
}
.choose__image__create__post:hover {
    box-shadow: none;
    background-color: inherit;
  }
.upload_post > li {
  background: transparent none repeat scroll 0 0;
  border-radius: 30px;
  display: inline-block;
  font-size: 14px;
  padding: 6px 20px;
  transition: all 0.2s linear 0s;
  vertical-align: middle;
  cursor: pointer;
}
.upload_image {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
  color: #28a745;
  font-size: 20px;
}
.upload_feeling {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
  color: #fd7e14;
  font-size: 20px;
}
.upload_livestream {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
  color: #dc3545;
  font-size: 20px;
}
input:focus {
  outline: none;
}
.create_new {
  border-bottom: 1px solid #dedede;
  display: inline-block;
  padding-bottom: 10px;
  width: 100%;
  text-align: center;
  font-weight: bold;
}
.title_Create {
  position: relative;
  font-size: 25px;
}
.icon_cancel {
  cursor: pointer;
  font-size: 27px;
  position: absolute;
  right: 18px;
  top: 15px;
  z-index: 9;
  color: #6c757d;
}

.user_post {
  margin-right: 16px;
  padding-right: 0;
  padding-bottom: 16px;
  padding-top: 16px;
  margin-left: -5px;
  padding-left: 0;
  display: flex;
  align-items: center;
}
.avatar_user {
  margin-right: 11px;
  position: relative;
  list-style: none;
}
.avatar {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  display: block;
}
.select_Objects {
  line-height: 1.2308;
  font-size: 0.8125rem;
  margin-top: 11px;
  font-size: 14px;
}
.post_text {
  z-index: 0;
  position: relative;
}
.post_input {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  padding-right: 0px;
  padding-bottom: 40px;
  z-index: 0;
  height: fit-content;
  padding-left: 0px;
  cursor: text;
  height:250px;
  overflow: scroll;
}
.post_input textarea {
  border: none;
  outline: none;
  font-size: 30px;
  width: 100%;
  user-select: text;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  border-color: transparent;
  resize: none;
  max-height: 150px;
}
.icon_smile {
  font-size: 25px;
  margin-left: 507px;
  color: #404040;
}
.add_post {
  position: relative;
  padding-bottom: 16px;
  padding-top: 16px;
}
.add_Post {
  padding-bottom: 6px;
  padding-top: 6px;
  padding-right: 8px;
  padding-left: 8px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.title_add {
  font-size: 13px;
  font-weight: bold;
  color: grey;
}
.icon_add {
  display: flex;
}
.upload_image1 {
  display: inline-block;
  margin-right: 50px;
  vertical-align: middle;
  color: #28a745;
  font-size: 27px;
  @media only screen and (max-width: 600px) {
    margin-right: 16px;
  }
}
.upload_feeling1 {
  display: inline-block;
  margin-right: 16px;
  vertical-align: middle;
  color: #fd7e14;
  font-size: 23px;
  
  margin-top: 8px;
  @media only screen and (max-width: 600px) {
    margin-right: 16px;
  }
}
.upload_livestream1 {
  display: inline-block;
  margin-right: 30px;
  vertical-align: middle;
  color: #dc3545;
  margin-top:4px;
  font-size: 27px;
  @media only screen and (max-width: 600px) {
    margin-right: 16px;
  }
}

.btn_publish {
  height: 36px;

  margin-top: 20px;

  z-index: 0;
  display: flex;
  max-width: 100%;
}
.btn {
  border-radius: 1rem;
  width: 100%;
  padding: 0 1.875rem;
  height: 3rem;
  line-height: 3rem;
  font-weight: 700;
  color: #fff;
  outline: 0;
  cursor: pointer;
  font-size: 1.2rem;
  transition: all 3s;
  border: 0;
  text-transform: none;
  overflow: visible;
  background-color: #1a73e8;
}
.modal_createpost {
  img {
    border: 0;
    width: 50px;
    height: 50px;
  }
  @media only screen and (max-width: 600px) {
    width: 90% !important;
  }
}

.post_input textarea {
  @media only screen and (max-width: 600px) {
    font-size: 12px;
  }
}
#demo-simple-select {
  @media only screen and (max-width: 600px) {
    padding: 8px;
    height: 0;
  }
}
#demo-simple-select-label {
  @media only screen and (max-width: 600px) {
    top: -8px;
  }
  @media only screen and (min-width: 992px) {
    top: 0;
  }
}
.add_Post {
  @media only screen and (max-width: 600px) {
  }
}
