@use "sass:math";

@function z($name) {
  @if index($z-indexes, $name) {
    @return (length($z-indexes) - index($z-indexes, $name))+1;
  }

  @else {
    @warn 'There is no item "#{$name}" in this list; Choose one of: #{$z-indexes}';

    @return null;
  }
}

// @function toRem($value) {
//   $remValue: math.div($value, 12) + rem;
//   @return $remValue;
// }
