$primary-color: #e21936;
$primary-color-hover: #e21919ab;

$color-black: #000;
$color-white: #fff;
$color-grey-1: #e8e9eb;
$color-grey-2: #cccdc6;
$color-grey-3: #bbbcb6;
$color-grey-4: #acada8;
$color-grey-5: #746d69;
$color-grey-6: #696969;
$color-grey-7: #f4f4f4;
$color-silver: #c4c4c4;
$color-boulder: #767676;
$color-dusty-gray: #979797;
$color-silver-chalice: #9f9f9f;
$color-mine-shaft: #262626;
$color-alto: #d9d9d9;
$color-tundora: #414141;
$color-energy-yellow: #f5dc66;
$color-husk: #b99f54;
$color-forest-green: #1c8b27;
$color-pomegranate: #f53626;
$color-jaffa: #f49342;

$color-error: #f44336;

$font-amiri: "Amiri";
$font-montserrat: "Montserrat";
$font-dino: "Dino";
$font-dino-light: "Dino-Light";

$border-color: #e9e9e9;
$color-gold: #cfb559;

$home-bg-color-grey: #f7f7f7;

$border-color-2: #d3d3d3;

$z-indexes: ("navigation", "content");

$light-blue: #088dcd;

$font-dir: "../assets/fonts";

$silver-name: #9499a5;
$gold-name: #c0a97f;
$platinum-name: #231f20;
$color-alabaster: #fafafa;

$black-squeeze: #deebf3;
$gallery: #f0f0f0;
