
.btnGroup {
  background:  red !important;
  color: #fff !important;
}

.bio-container {
  width: 58%;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

.group-avatar {
    display: inline-block;
    position: relative;
    width: 100%;
    .btnFollow {
    // width: 10%;
    background: #fff none repeat scroll 0 0;
    border-radius: 20px;
    bottom: 20px;
    font-size: 13px;
    padding: 6px 15px 6px 10px;
    display: flex;
    justify-content:center;
    align-items: center;
    position: absolute;
    bottom: 5%;
    right: 5%;
    cursor: pointer;
    .btnCheck {
      margin: 0 2px 0 2px !important;
      color: green !important;
    }
  @media only screen and (min-width: 740px) and (max-width: 1024px) {
    // width: 100px;
  }
  @media only screen and (max-width: 740px) {
    // width: 50px;

  }
  }
}
.group-avatar > img {
    border-radius: 10px;
    display: inline-block;
    width: 100%;

}
.group-dp {
  display: inline-block;
  bottom: 5%;
  left: 5%;
  margin: 0;
  position: absolute;
}

.modalUpdatePicture {
  position: absolute;

  top: 50%;
  left: 100%;
  background-color: #333;
  z-index: 2;
}

.ChangePicProfile {
  cursor: pointer;
  background: #333;
    position: absolute;
    right: 5%;
    bottom: 10%;
    border-radius: 50px;
    font-size: 2rem;
    padding: 4px;
    color: #fff;
}

.avatar-edit {
        position: absolute;
        right: 0;
        z-index: 1;
        top: 10%;
        input {
            display: none;
            + label {
                display: inline-block;
                text-align: center;
                width: 34px;
                height: 34px;
                margin-bottom: 0;
                border-radius: 100%;
                background: #FFFFFF;
                border: 1px solid transparent;
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                cursor: pointer;
                font-weight: normal;
                transition: all .2s ease-in-out;
                &:hover {
                    background: #f1f1f1;
                    border-color: #d6d6d6;
                }
                &:after {
                    content: "\2710";
                    font-family: 'FontAwesome';
                    font-size:18px;
                    color: #757575;
                    position: absolute;
                    top: 10px;
                    left: 0;
                    right: 0;
                    text-align: center;
                    margin: auto;
                }
            }
        }
      }

.group-dp > img {
    border: 3px solid #fff;
    border-radius: 100%;
    width: 135px;
    height: 135px;
    @media only screen and (min-width: 740px) and (max-width: 1024px) {
    width: 100px;
    height: 100px;

  }
  @media only screen and (max-width: 740px) {
    width: 50px;
    height: 50px;

  }
}

.grp-info {
  display: flex;
  justify-content: space-between;
  .Bio-name {
    margin: 0 0 24px 0;
    h4{
      display: inline-block;
      font-size: 22px;
      font-weight: 550;
      margin:4px 0 4px 0;
      vertical-align: middle;
    @media only screen and (min-width: 740px) and (max-width: 1024px) {
      width: 100px;
    }
    @media only screen and (max-width: 740px) {
      width: 100px;
      margin-top: 20%;
  }
    }

    span {
        display: block;
        font-size: 11px;
        font-weight: 550;
        color: #088dcd;
    }
  }
  .Bio-info {
      margin:16px 0 12px 0;
    .joined-info {
      display: inline-block;
      list-style: outside none none;
      margin: 0;
      padding: 0;
      @media only screen and (max-width: 740px) {
        padding-left: 20%;
            }
    }
    li {
       color: #92929e;
        display: inline-block;
        font-size: 13px;
        margin-right: 20px;
        vertical-align: middle;
        @media only screen and (min-width: 740px) and (max-width: 1024px) {
          font-size:10px;
              }
        @media only screen and (max-width: 740px) {
          font-size:8px;
          width: 100%;

            }
        span {
          color: #1f273f;
           font-weight: 600;
           font-size:14px;
              @media only screen and (min-width: 740px) and (max-width: 1024px) {
          font-size:10px;
              }
        @media only screen and (max-width: 740px) {
          font-size: 10px;

            }
        }
    }
  }
}


.grp-btn {
  display: flex;
  justify-content: space-between;
    @media only screen and (min-width: 740px) and (max-width: 1024px) {

              }
        @media only screen and (max-width: 740px) {
          display: block;
            }
  .Bio-btn {
    // @media only screen and (min-width: 740px) and (max-width: 1024px) {
    //       font-size:8px;
    //           }
    //     @media only screen and (max-width: 740px) {
    //       width: 8px;

    //         }

  }
  .Bio-search {
    position: relative;
     @media only screen and (min-width: 740px) and (max-width: 1024px) {

              }
        @media only screen and (max-width: 740px) {
          margin-top: 16px;
        }


    .Bio-input {
      margin: 0 4px 0 0 !important;
       @media only screen and (min-width: 740px) and (max-width: 1024px) {
          width: 50% !important;
          margin-left: 30% !important;
              }
        @media only screen and (max-width: 740px) {



            }
    }
    .optionMore {
      background-color:#fafafa;
      position: absolute;
      width: 180px;
      top: 32px;
      right: 0;
      border-radius: 5px;
      z-index: 2;
    }
  }
}


.grp-about {
  margin: 12px 0 30px 0;
  background: #fafafa none repeat scroll ;
  padding: 15px 20px 20px;
  border-radius: 5px;
  border: 1px solid #e1e8ed;
  width: 100%;
  display: flex;
  justify-content: space-between;
   @media only screen and (min-width: 740px) and (max-width: 1024px) {

              }
        @media only screen and (max-width: 740px) {
            display: inline-block;
            }
  .description {
    margin: 0 48px 0 0 ;
    width: 65%;
     @media only screen and (min-width: 740px) and (max-width: 1024px) {
        text-align: center
              }
     @media only screen and (max-width: 740px) {
        text-align: center;
           width:100%;
            }
    h4 {

      font-size: 15px;
      font-weight: 500;
      margin-bottom: 10px;
      width: 100%;

    }

    p {
      color: #7d7e9e;
      font-size: 14px;
      line-height: 24px;
      font-family: 'Roboto', sans-serif;
      margin-top: 0;
      margin-bottom: 12px;
      font-weight: 300;
      text-align: left;
    }

    img {
      width: 33px;
      height: 37px;
      margin: 0 4px 0 0;
    }
  }
  .social {
    width: 35%;
     @media only screen and (max-width: 740px) {
       margin:16px 0 0 0;
       text-align: center;
             width: 100%;
            }
    h4 {
      font-size: 15px;
      margin-bottom: 15px;
      text-transform: capitalize;
      width: 100%;
      font-weight: 500;
    }
  }
}

.Bio-content {

}
