

.pix-filter {
    display: inline-block;
    list-style: outside none none;
    margin-bottom: 30px;
    padding: 0;
    width: 100%;
    li {
      display: inline-block;
      margin: 0 12px 0 0;
      text-transform: uppercase;
      font-weight: 600;
      border-left: 3px solid rgb(218, 4, 4);
      padding: 8px;
        span {
          border: 1px solid;
          border-radius: 5px;
          color: #92929e;
          font-size: 11px;
          padding: 1px 6px;
          margin-left:4px;
          vertical-align: middle;
        }
   }
}

.containerFriend {
  display:flex;
  flex-wrap: wrap;
  .friend-item {
    border: 1px solid #eaeaea;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 15px;
    display: inline-block;
    text-align: center;
    width: calc(100% / 4);
    cursor: pointer;
    @media only screen and (min-width: 740px) and (max-width: 1024px) {
     width: calc(100% / 3);
    }
    @media only screen and (max-width: 740px) {
      width: calc(100% / 2);
    }
  }
  h1 {
    margin: 4px 0;
    font-weight: 550;
  }
  img {
    border-radius: 10px;
    max-width: 80px;
    height: 80px;
  }
  span {
    background: #088dcd none repeat scroll 0 0;
    border-radius: 16px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    margin-top: 10px;
    padding: 6px 10px;
    @media only screen and (max-width: 740px) {
      padding: 6px 8px;
    }
  }
}