.hidden {
  &__ItemButton {
    border-radius: 9px !important;
    margin: 0 10px !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  &__menuicon {
    color: #088dcd;
    font-size: 1.5rem;
  }
}
