$primary-color: #088dcd;
.grid__container {
  display: grid;
  grid-template-columns: auto auto auto;
}
.grid__item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  font-size: 20px;
  text-align: center;
  &:hover {
    background-color: #ebe8e8;
    cursor: pointer;
  }
  &--icon {
    color: $primary-color;
  }
}
