.message__box {
  width: 330px;
  height: 460px;
  position: fixed;
  right: 0;
  bottom: 0;
  background-color: $color-white;
  z-index: 11;
  border-top-left-radius: 5px;
  transition: 0.5s ease-in-out;
  &__header {
    border-top-left-radius: 5px;
    &__itemleft {
      &__username {
        color: $color-white;
        font-size: 17px;
        font-weight: bold;
      }
    }
  }
  &__body {
    padding: 15px 15px 90px 15px;
    height: 100%;
    -webkit-box-shadow: 0px 4px 18px -1px rgba(0, 0, 0, 0.49);
    box-shadow: 0px 4px 18px -1px rgba(0, 0, 0, 0.49);
    overflow: scroll;
    &__cover__mess {
      .current__user__mess {
        flex-direction: row-reverse;
        .mess__detail {
          margin-right: 10px;
        }
      }
      .mess__detail {
        margin-left: 10px;
        background-color: $black-squeeze;
        padding: 10px;
        border-radius: 10px;
        .mess__image {
          width: 100%;
        }
      }
      .cover__input__mess {
        position: absolute;
        width: 100%;
        height: 50px;
        padding: 10px 15px;
        bottom: 0;
        left: 0;
        background-color: $color-white;
        display: flex;
        align-items: center;
        .button__send__image {
          background-color: $gallery;
          &:hover {
            background-color: $gallery;
            box-shadow: none;
          }
        }
        .mess__input {
          width: 100%;
          height: 35px;
          border-radius: 30px;
          padding: 5px 35px 5px 45px;
          background-color: $gallery;
          outline: none;
          border: none;
        }
        .button__send__message {
          position: absolute;
          background-color: $light-blue;
          color: $color-white;
          right: 20px;
          width: 25px;
          height: 25px;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          border: none;
          outline: none;
        }
      }
    }
  }
}

.message__box__closed {
  width: 330px;
  height: 460px;
  position: fixed;
  right: -350px;
  bottom: 0;
  background-color: $color-white;
  z-index: 11;
  transition: 0.5s ease-in-out;
  border-top-left-radius: 5px;
}
