$appbar-background: #f5f5f5;
$primary-color: #088dcd;
$backgroundColorIcon: #deebf3;
.appbar {
  position: fixed;
  background-color: #cca897 !important;
  z-index: 999;
  &__img {
    max-width: 50px;
  }
  &__text {
    color: #ed8554;
    font-size: 25px !important;
    font-weight: 700 !important;
    vertical-align: middle;
  }
  &__user {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #8b4f1d;
    border-radius: 30px;
    cursor: pointer;
    line-height: initial;
    padding: 3px 4px 3px 4px;
    vertical-align: middle;
    &--img {
      border-radius: 100%;
      max-width: 30px;
    }
    &--link {
      display: flex;
    }
    &--name {
      margin: auto 4px;
      font-weight: 900;
    }
    &:hover {
      background-color: $backgroundColorIcon;
    }
  }
  &__icon {
    color: #8b4f1d;
    font-size: 1.5rem !important;
  }
  &__IconButton {
    border: 1px solid #ed8554 !important;
    margin: 0 6px !important;
    &:hover {
      background-color: $backgroundColorIcon !important;
    }
  }
}
.modelResult {
  background: #444950;
  border-radius: 10px;

  position: absolute;
  top: 45px;

  left: 0;
  z-index: 999;
  height: 400px;
  overflow: scroll;
  ul {
    box-shadow: 0 5px 5px #333;
    border-radius: 10px;
    padding: 0 0 0 8px;
    margin: 0;
    background-color: #333;
    list-style: none;
    border: 1px solid silver;
    -ms-box-orient: horizontal;
  }
  ul li {
    -webkit-flex-wrap: wrap;
    cursor: pointer;
    flex-wrap: wrap;
    width: 320px;
    // height: 50px;
    display: flex;
    flex-direction: row;
    margin: 8px 0 8px 0;
    &:hover {
      background-color: #444950;
    }
  }
  ul a {
    flex-direction: row;
  }
  ul li img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: 0 16px 0 0;
  }
  h3 {
    color: #fff;
    padding: 16px 0 0px 2px;
  }
}

.modelResult__hidden {
  display: none;
}
@media only screen and (max-width: 420px) {
  .appbar__user {
    display: none;
  }
}
