::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  @media only screen and (min-width: 600px) {
    background: rgb(177, 177, 177);
  }
}

/* Handle on hover */

.friend__list {
  width: 330px;
  height: 460px;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 10px;
  background-color: $color-white;
  z-index: 10;
  border-top-left-radius: 5px;
  transition: 0.5s ease-in-out;
  -webkit-box-shadow: 0px 4px 18px -1px rgba(0, 0, 0, 0.49);
  box-shadow: 0px 4px 18px -1px rgba(0, 0, 0, 0.49);
  &__header {
    position: relative;
    background-color: $light-blue;
    border-radius: 5px;
    padding: 10px 10px;
    .title {
      color: $color-white;
      font-weight: bold;
    }
    .new__mess__input {
      width: 100%;
      height: 30px;
      background-color: inherit;
      color: $color-white;
      border: none;
      border-bottom: 1px solid $color-white;
      outline: none;
      &::placeholder {
        color: $color-white;
      }
    }
    .close__message__box {
      position: absolute;
      top: 5px;
      right: 0;
      background-color: inherit;
      color: $color-white;
      border: none;
      outline: none;
      cursor: pointer;
    }
  }
  &__item {
    &__details {
      &:hover {
        overflow: overlay;
      }
    }
  }
}

.friend__list__closed {
  width: 330px;
  height: 460px;
  position: fixed;
  right: 0;
  bottom: -600px;
  padding: 10px;
  background-color: $color-white;
  z-index: 10;
  border-top-left-radius: 5px;
  transition: 0.5s ease-in-out;
}
