sub,
sup {
  font-size: 100%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.8em;
  margin-left: 3px;
}

.cover__post__item {
  position: relative;
  background-color: $color-alabaster;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #e1e8ed;
  margin-bottom: 20px;
  .post__item {
    &__header {
      &__detail {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        .item {
          width: 100%;
          p {
            svg {
              margin-right: 5px;
              margin-bottom: -2px;
            }
          }
        }
      }
      .cover__option__icon {
        button {
          background-color: inherit;
          border: none;
          outline: none;
          color: #1976d2;
          font-size: 20px;
        }
      }
    }
    &__content {
      margin-top: 15px;
      padding-bottom: 15px;
      border-bottom: 1px solid #ede9e9;
      .editor {
        margin-bottom: 20px;
        font-size: 15px;
        @media screen and (min-width: 480px) {
          font-size: 20px;
        }
        @media screen and (min-width: 768px) {
          font-size: 23px;
        }
      }
      img {
        width: 100%;
      }
    }
    &__interact {
      margin: 20px 0;
      &__detail {
        display: flex;
        .cover__icon {
          margin-left: 15px;
          &:first-child {
            margin: 0;
          }
          .icon {
            color: #045b84;
            font-size: 20px;
          }
        }
      }
      &__button {
        margin-top: 15px;
        button {
          padding: 8px 12px;
          width: auto;
          background-color: #eae9ee;
          color: #82828e;
          margin-right: 15px;
          border: none;
          outline: none;
          border-radius: 5px;
          font-size: 12px;
          svg {
            margin-bottom: -3px;
            font-size: 15px;
          }
        }
        .like__button__active {
          background: #dadada;
          color: #088dcd;
        }
      }
    }

    .cover__comment__list {
      height: auto;
      visibility: visible;
      opacity: 1;
      transition: 0.3s ease-in-out;
      .post__item__comment__box__input {
        width: 100%;
        margin-bottom: 20px;
        form {
          position: relative;
          width: 100%;
          input {
            background-color: #fff;
            padding: 0 10px;
            height: 40px;
            width: 100%;
            border: 1px solid #eaeaea;
            border-radius: 10px;
            outline: none;
            &:focus {
              border: 1px solid #088dcd;
            }
          }
          button {
            background-color: inherit;
            color: #088dcd;
            font-size: 15px;
            position: absolute;
            right: 10px;
            top: 27%;
            border: none;
            outline: none;
          }
        }
      }
    }
    .hide__comment {
      height: 0px;
      visibility: hidden;
      opacity: 0;
    }
    &__comment__box {
      margin-bottom: 20px;
      &__detail {
        &__content {
          background-color: #e2e2e2;
          padding: 4px 10px 7px 10px;
          border-radius: 10px;
          a {
            color: #088dcd;
            font-size: 15px;
          }
          span {
            margin-left: 10px;
            color: #92929e;
          }
          p {
            font-size: 12px;
          }
        }
      }
    }
  }
  .cover__post__option__popup {
    .options__popup {
      position: absolute;
      right: 20px;
      top: 6%;
      width: 60%;
      background-color: #fff;
      padding: 10px;
      border-radius: 5px;
      -webkit-box-shadow: 5px -3px 25px -4px rgba(0, 0, 0, 0.26);
      box-shadow: 5px -3px 25px -4px rgba(0, 0, 0, 0.26);
      &__hide {
        color: #92929e;
        &__title {
          color: #535165;
          font-weight: bold;
        }
      }
    }
  }
  .hide__post__option__popup {
    opacity: 0;
    visibility: hidden;
  }
}
