.options__popup {
  position: absolute;
  right: 20px;
  top: 6%;
  width: 60%;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  -webkit-box-shadow: 5px -3px 25px -4px rgba(0, 0, 0, 0.26);
  box-shadow: 5px -3px 25px -4px rgba(0, 0, 0, 0.26);
  &__hide {
    color: #92929e;
    &__title {
      color: #535165;
      font-weight: bold;
    }
  }
}
