.form__send__message {
  form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 5px 0;
  }
  input {
    width: 95%;
    height: 100%;
    border: none;
    outline: none;
    background-color: #d3d3d3;
    padding: 5px 30px 5px 40px;
    border-radius: 5px;
  }
}
