$primary-color: #088dcd;
.messagebox {
  background: #f5f5f5 none repeat scroll 0 0;
  border: 1px solid #94b3c9;
  border-radius: 8px;
  display: inline-block;
  height: 100vh;
  padding: 20px;
  position: fixed;
  right: 0;
  top: 64px;
  width: 300px;
  z-index: 999;
  // opacity: 0;
  // visibility: hidden;
  transition: all 0.3s linear 0s;
  &__close {
    cursor: pointer;
    position: absolute;
    right: 18px;
    top: 15px;
    z-index: 9;

    &--icon {
      line-height: initial;
      color: $primary-color;
      font-size: 30px;
      &:hover {
        background-color: #ccc;
        border-radius: 50%;
        // transform: translate(-50%, -50%) scale(1);
        transition: all 0.2s linear 0s;
      }
    }
  }
  &__slidemeta {
    &__tabmessage {
      border-radius: 5px 5px 0 0;
      font-size: 13px;
      font-weight: 500;
      margin-right: 10px;
      padding: 5px 10px;
    }
  }
  &__viewall {
    bottom: 10px;
    border-radius: 30px;
  }
}
.css-1gsv261 {
  border: none !important;
  margin-top: 20px;
}
.MuiTabs-flexContainer {
  justify-content: space-between !important;
}
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  background-color: $primary-color !important;
  color: #fff !important;
}
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  background: #e5e5e5 none repeat scroll 0 0 !important;
  border-radius: 5px 5px 0 0 !important;
  font-size: 13px !important;
  font-weight: 500 !important;
  margin-right: 10px !important;
  padding: 5px 10px !important;
  min-height: 0 !important;
  text-transform: none !important;
}
.css-jpln7h-MuiTabs-scroller {
  flex: none !important;
  width: 80% !important;
}
.css-1ujnqem-MuiTabs-root {
  min-height: 0 !important;
}
.css-19midj6 {
  padding: 16px 0 !important;
}

.message {
  &__header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    &__title {
      display: flex;
      & > h4 {
        color: $primary-color;
        font-size: 18px;
        font-weight: 600;
        margin: auto;
        margin-left: 8px;
      }
      &--icon {
        color: $primary-color;
        font-size: 25px;
        margin: auto;
      }
    }
    &__newmessage {
      border: 1px solid $primary-color;
      border-radius: 50%;
      padding: 5px 10px;
      &--icon {
        margin-top: 4px;
        color: $primary-color;
      }
    }
  }
  &__content {
    &__list {
      margin-bottom: 30px;
      margin-top: 10px;
      height: 300px;
      overflow: scroll;
    }
    &__item {
      display: flex;
      margin-bottom: 20px;
      width: 100%;
      & > figure {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: top;
        width: 50px;
        & > img {
          width: 50px;
          height: 50px;
          border: 2px solid $primary-color;
          border-radius: 100%;
        }
      }
      &--mesg-info {
        margin: auto 10px;
        & > span {
          display: inline-block;
          width: 100%;
          font-weight: 600;
          font-size: 15px;
          color: $primary-color;
        }
        & > a {
          font-size: 13px;
          & > em {
            font-weight: 600;
          }
          &:hover {
            color: $primary-color;
          }
        }
      }
    }
  }
}
