* {
  box-sizing: border-box;
}

html {
  height: -webkit-fill-available;
  font-size: 12px;

  @media screen and (min-width: 768px) {
    font-size: 14px !important;
  }
}

html,
body {
  height: 100%;
  width: 100%;
  color: #000;
}

body {
  font-family: $font-montserrat;
  font-weight: 400;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

input:-webkit-autofill {
  -webkit-box-shadow: none !important;
  -webkit-text-fill-color: #333 !important;
  background-color: transparent !important;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: none !important;
  -webkit-text-fill-color: #333 !important;
  background: transparent !important;
}

#app {
}

a {
  // color: #2A75BB;
  // text-decoration: underline;
  color: #000;
  text-decoration: none;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

button {
  font-family: $font-montserrat;

  span {
    font-family: $font-montserrat;
  }
}

p {
  line-height: 15px;

  @media screen and (min-width: 768px) {
    line-height: 19.6px;
  }
}

strong {
  font-weight: 600;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.display-lg {
  display: none;

  @media screen and (min-width: 992px) {
    display: block;
  }
}

.hidden-lg {
  display: block;

  @media screen and (min-width: 992px) {
    display: none !important;
  }
}

.status-approved {
  color: $color-forest-green;
  font-weight: 600;
}

.status-rejected {
  color: $color-pomegranate;
  font-weight: 600;
}

.status-pending {
  color: $color-jaffa;
  font-weight: 600;
}

.MuiTabs-flexContainer {
  justify-content: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield;
  /* Firefox */
}

img {
  border-radius: 8px;
  overflow: hidden;

  &:before {
    content: "No image available";
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-grey-2;
    border-radius: 8px;
  }
}

.text-center {
  text-align: center;
}

.cover {
  width: 100%;
  height: calc(50vh);
  display: grid;
  place-items: center;
}

.container {
  max-width: 1200px !important;
}
